<!doctype html>
<html lang="{{ site.languageCode }}">
    {% include "partials/head.njk" %}
    <body>
        {% if not hide_nav %}{% include "partials/nav.njk" %}{% endif %}

        <main class="site-main">{% block main %}{{ content | safe }}{% endblock %}</main>

        {% if not hide_footer %}{% include "partials/footer.njk" %}{% endif %}
        {% include "partials/scripts.njk" %}
    </body>
</html>
