<header id="masthead" class="site-header">
    <div class="header-navigation-bar">
        <div class="header-navigation-bar__mobile">
            <div class="header-navigation-bar__mobile-logo">
                <a href="{{ "/" | url }}" class="custom-logo-link" rel="home">
                    <img width="241" height="46" src="{{ "/assets/images/Group-49.svg" | url }}" class="custom-logo" alt="{{ site.title }}">
                </a>
            </div>
            <div class="header-navigation-bar__mobile-hamburger-menu">
                <span></span>
            </div>
        </div>
        <div class="header-navigation-bar__mobile-nav-items">
            <ul class="menu">
                <li class="menu-item"><a href="#projects">PROJECTS</a></li>
                <li class="menu-item"><a href="#about-us">WHAT DRIVES US</a></li>
                <li class="menu-item"><a href="#services">OUR SERVICES</a></li>
                <li class="menu-item"><a href="#team">OUR TEAM</a></li>
                <li class="menu-item"><a href="#musings">MUSINGS</a></li>
                <li class="menu-item"><a href="#footer">CONTACT US</a></li>
            </ul>
            <ul class="menu">
                <li class="menu-item"><a href="https://www.linkedin.com/company/alterengineers">LinkedIn</a></li>
            </ul>
        </div>
        <div class="header-navigation-bar__desktop">
            <div class="header-navigation-bar__desktop-logo">
                <a href="{{ "/" | url }}" class="custom-logo-link" rel="home">
                    <img width="241" height="46" src="{{ "/assets/images/Group-49.svg" | url }}" class="custom-logo" alt="{{ site.title }}">
                </a>
            </div>
            <div class="header-navigation-bar__desktop-nav-items">
                <ul class="menu">
                    <li class="menu-item"><a href="#projects">PROJECTS</a></li>
                    <li class="menu-item"><a href="#about-us">WHAT DRIVES US</a></li>
                    <li class="menu-item"><a href="#services">OUR SERVICES</a></li>
                    <li class="menu-item"><a href="#team">OUR TEAM</a></li>
                    <li class="menu-item"><a href="#musings">MUSINGS</a></li>
                    <li class="menu-item"><a href="#footer">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
