{% if tags %}
{% set displayTags = tags | filterTagList %}
{% if displayTags.length %}
<div class="recipe-tags">
    {% for tag in displayTags %}
    <a href="/tags/{{ tag | slugify }}/" class="tag-badge">{{ tag }}</a>
    {% endfor %}
</div>
{% endif %}
{% endif %}
