<!doctype html>
<html lang="{{ site.languageCode or 'en' }}">
  {% include "partials/head.njk" %}
  <body{% if site.backgroundImage %} class="has-bg-image"{% endif %}>
    {% if site.backgroundImage %}
    <div class="site-background" aria-hidden="true" style="background-image:url('{{ site.backgroundImage }}')"></div>
    {% endif %}
    {% include "partials/nav.njk" %}

    <main class="site-main">
      {% block main %}{{ content | safe }}{% endblock %}
    </main>

    {% include "partials/footer.njk" %}
    {% include "partials/scripts.njk" %}
    {% include "partials/site-snippets-footer.njk" %}
  </body>
</html>
