<footer class="site-footer">
  <div class="footer-container">
    <p>&copy; {{ site.year }} {{ site.title }}</p>
    <p class="footer-note">Made with love using <a href="https://bloob.haus" target="_blank">Bloob Haus</a></p>
  </div>
</footer>
